body{
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: roboto;
}

/* Navigation */
#nav
{
    width: 100%;
    height: 50px;
    color: white;
    background: black;

}

#nav>span{
  line-height: 3.3;
  display: inline-block;
  height: inherit;
  margin-left: 24px;
  vertical-align: top;
}

#nav>div.right{
  display: inline-block;
  height: inherit;
  float: right;
}

#nav>div>span{
  line-height: 3.3;
  height: inherit;
  margin-left: 0;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

#nav>span>i{
  font-size: 33px;
}

#nav>#mobile{
  line-height: 4.5;
}

#nav>#mobile:hover{
  cursor: pointer;
  color: grey;
}

#nav>#title{
  font-size: 32px;
  font-weight: bolder;
  line-height: 1.6;
  margin-left: 10px;
}

/* #nav>#mobile
{
    display: inline-block;
    width: 50px;
    height: inherit;
} */

/* Sidebar loading behavior
 */
#sidebar
{
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 50px;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 3px 0.5px black;
    width: 250px;
    height: 93.5%;
}

#sidebar ul
{
    padding: 0px;
    margin: 0px;
}

#sidebar ul li
{
    list-style: none;
    border-top: 1px solid grey;
}

#sidebar ul li a
{
    color: white;
    padding: 10px 0px 10px 10px;
    display: block;
    text-decoration: none;
}

#sidebar ul li a i
{
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

#sidebar ul li a:hover
{
    background: #4d537a;
}

#sidebar.hide
{
    display: none;
}

#sidebar.show
{
    display: block;
}

#content
{
    width: 100%;
    height: 90vh;
    display: block;
}

#contentDash>iframe
{
    box-sizing: border-box;
    border-style: none;
    border-width: 0px;
    width: 100%;
    height: 93vh;
}

#watermark{
  display:none !important
}

/* Banner */
#banner{
  background-color: #414142;
  background-image: linear-gradient(
  180deg, #414142, rgba(65, 65, 66, 0) 26%), linear-gradient(180deg, rgba(65, 65, 66, 0.9), rgba(65, 65, 66, 0.9)), url('../includes/bg2.png');
  text-align: center;
  width: 100%;
  height: 89vh;
  color: white;
  padding: 50px 0px 0px 0px;
  font-weight: bolder;
}

#banner>div.intro>#title2{
  font-size: 122px;
  margin: 94px 0 35px 0;
  font-family: Changa One;
  font-weight: normal;
}


#banner>div.intro>p:not(#title2){
  font-size: 40px;
  color: #168aad;
  font-weight: lighter;
  margin: 18px 0 0 0 ;
}

#banner>div.intro>div.button{
  display: inline-block;
  box-sizing: border-box;
  margin-top: 65px;
}

.button>a{
  background-color: #25a9e2;
  text-decoration: none;
  color: white;
  border-radius: 18px;
  padding: 11px 23px;
  line-height: 2.5;
  font-family: Changa One;
  font-weight: normal;
  font-size: 26px;
}

@media screen and (max-width: 680px), screen and (max-height:700px){
  #banner>div.intro>#title2{
    font-size: 73px;
  }

  @media screen and (max-height: 700px){
    #banner>div.intro>#title2{
      margin-top: 39px;
    }
  }

  #banner>div.intro>p:not(#title2){
    font-size: 22px;
    margin: 13px 0 0 0;
  }

  .button>a{
    font-size: 19px;
  }
}
.button>a:hover{
  background-color: #34a0a4;
}

/* Features */
.features{
  padding: 0 68px;
  text-align: center;
}

div.features>h1{
  margin: 19px 0 29px;
}

div.features>div.item{
  padding: 10px;
  width: 27%;
  display: inline-block;
  border-radius: 10px;
  margin: 0 8px;
  height: 90px;
  vertical-align: top;
  height: 194px;
  background-image: linear-gradient(45deg, #d3edff, #dfe0e1);
  padding-bottom: 30px;
}

@media screen and (max-width:1347px) {
  div.features>div.item{
    height: 220px;
  }
}

@media screen and (max-width:935px) {
  div.features>div.item{
    padding-bottom: 60px;
  }
}

@media screen and (max-width:775px) {
  div.features>div.item{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    height: 166px;
  }
}

@media screen and (max-width:427px) {
  div.features>div.item{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    height: 212px;
  }
}

div.features>div.item>p.header{
  margin-top: 0;
  font-weight: bold;
  color: #7b7b7b;
}

div.features>div.item>div>i,div.features>div.item>div>span{
  font-size: 100px;
}

div.features>div.item>p:not(p.header){
  font-weight: initial;
  width: 83%;
  margin: 0 auto;
  color: #848484;margin-top: 10px;
  text-align: justify;
  line-height: 1.5;
}

/* Footer */
.footer{
  margin-top: 50px;
  height: 30px;
  background-color: #f2f2f2;
}

.footer>p{
  padding-top: 9px;
  text-align: center;
  color: #898989;
}

#contentDash
{
    position: relative;
}

#reservation
{
    z-index: 1000;
    position: absolute;
    bottom: 30%;
    left: 50%;
    width: 300px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
}

#reservation>input, #reservation>label
{
    display: block;
}

#reservation>input[type=text],
#reservation>input[type=datetime-local],
#reservation>select
{
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0px;
}

#reservation.hide
{
    display: none;
}

#reservation.show
{
    display: block;
}

#searchbtn
{
    z-index: 1000;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background: black;
    border-radius: 100px;
    border: 1px solid lightblue;
    width: 50px;
    height: 50px;
    padding: 5px;
}

#searchbtn:hover
{
    background: lightblue;
}

#searchCtn
{
    z-index: 1000;
    display: block;
    position: absolute;
    width: 300px;
    -height: 40px;
    border-radius: 50px;
    border: 1px solid lightblue;
    background: black;
    padding: 0px 0px 0px 15px;
    color: white;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchCtn>span
{
    padding: 5px 0px;
    display: inline-block;
    vertical-align: middle;
}

#searchCtn>#searchbar
{
    box-sizing: content-box;
    display: inline-block;
    outline: none;
    height: 100%;
    width: 85%;
    border-width: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: black;
    color: white;
    padding: 9px 8px;
}

#searchCtn.hide
{
    display: none;
}

#searchCtn.show
{
    display: block;
}

.submitbtn
{
    display: none;
}
